.sign-page {
  display: flex;
  align-items: center;
  height: 100vh;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
